/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
 /* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: "微软雅黑";
	font-size:100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.message.warning  {
	background: rgba(255, 255, 255, 0.33);
	-moz-box-shadow: 0 0 0 3px rgba(56, 41, 32, 0.25);
    -webkit-box-shadow: 0 0 0 3px rgba(56, 41, 32, 0.25);
    box-shadow: 0 0 0 3px rgba(56, 41, 32, 0.25);
    margin:auto;
	width: 26%;
}
.login-head {
	padding: 2em 0;
	background: #2a72bf;
	position:relative;
}
.login-head h1 {
	color: #fff;
	font-size: 1.5em;
	text-align: left;
	margin: 0 23px;
}
form {
	padding: 3em 2em;

	
}
form li{
	border: 2px ridge rgba(187, 185, 189, 0.11);
	border-radius: 0.3em;
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
	-o-border-radius:0.3em;
	list-style:none;
	margin-bottom:12px;
	background:#F0EEF0;

}
.icon{
	background:url(../images/icons.png)  no-repeat 0px 0px;
	height:30px;
	width:30px;
	display: block;
	float: right;
	margin: 12px 9px 9px 0px;
}
.user{
	background: url(../images/icons.png) no-repeat 7px 1px;
	
}
.lock{
	background: url(../images/icons.png) no-repeat -22px 1px;
}

input[type="text"], input[type="password"] {
	font-family: "微软雅黑";
	width:70%;
	padding: 0.5em 2em 0.5em 1em;
	color: #2a72bf;
	font-size:20px;
	outline: none;
	background: none;
	border:none;
}

.submit h4 a{
	float:left;
	font-size: 16px;
	color: #999;
	font-weight: 400;
	font-family: "微软雅黑";
	margin-top: 15px;
	margin-left: 50px;
}
.submit h4 a:hover{
	color:#2a72bf;
}
/*************************/
.submit{
    padding-bottom:     1em;
    font-family: "微软雅黑";
    text-align: center;
}
input[type="submit"] {
	color: #fff;
	cursor: pointer;
	font-weight: 500;
	outline: none;
	font-family: "微软雅黑";
	padding: 12px 10px;
	width: 35%;
	font-size: 18px;
	background:#2a72bf;
	border:2px solid #2a72bf;
	border-radius: 0.5em;
	-webkit-border-radius:0.5em;
	-moz-border-radius:0.5em;
	-o-border-radius:0.5em;
}
input[type="submit"]:hover {
	background: #fff;
	color:#2a72bf;
	border:2px solid #2a72bf;
}
/*----*/
